
section.concept{
    h1{
      font-family: $font-main;
      font-weight: 800;
      font-size: 3rem;
      text-transform: uppercase;
    }

    p{
      font-weight: 600;
      font-size: 2rem;
    }

}
